<span
  data-ng-style="{'color': statusIconsController.color }"
  data-ng-attr-data-uk-icon="{{'icon:star; ratio:' + statusIconsController.ratio}}"
  data-ng-class="{
    'uk-icon-filled uk-animation-scale-down': statusIconsController.stateService.isAmateur,
  }">
</span>
<span
  data-ng-style="{'color': statusIconsController.color }"
  data-ng-attr-data-uk-icon="{{'icon:star; ratio:' + statusIconsController.ratio}}"
  data-ng-class="{
    'uk-icon-filled uk-animation-scale-down': statusIconsController.stateService.isAdvanced,
  }">
</span>
<span
  data-ng-style="{'color': statusIconsController.color }"
  data-ng-attr-data-uk-icon="{{'icon:star; ratio:' + statusIconsController.ratio}}"
  data-ng-class="{
    'uk-icon-filled uk-animation-scale-down': statusIconsController.stateService.isExpert,
  }">
</span>
<span
  data-ng-style="{'color': statusIconsController.color }"
  data-ng-attr-data-uk-icon="{{'icon:star; ratio:' + statusIconsController.ratio}}"
  data-ng-class="{
    'uk-icon-filled uk-animation-scale-down': statusIconsController.stateService.isProfi,
  }">
</span>
