<div data-ng-if="!statusController.isCompact">
  <h1>Mein Status</h1>
  <p>Hier siehst du, wie viele Aufgaben du bereits bearbeitet hast. Je öfter du übst, umso besser kennst du dich mit Finanzangelegenheiten aus und umso höher wird dein Status!</p>
  <div
    data-status-icons=""
    data-status-icons-ratio="statusController.iconRatio"
    data-status-icons-color="statusController.iconColor"
    class="uk-margin-small-top uk-margin-small-bottom">
  </div>
  <h3>Dein aktueller Status</h3>
  <div data-status-label=""></div>
  <div data-ng-transclude="">
    <!-- transclusion -->
  </div>
</div>

<div data-ng-if="statusController.isCompact">
    <h4>Mein Status</h4>
    <div
      data-status-icons=""
      data-status-icons-ratio="statusController.iconRatio"
      data-status-icons-color="statusController.iconColor"
      class="uk-margin-bottom">
    </div>
    <div
      data-status-label=""
      class="uk-margin-small">
    </div>
    <div data-ng-transclude="">
      <!-- transclusion -->
    </div>
</div>
