<div data-ng-if="statusController.isCompact">
    <h3>Mein Status</h3>
    <div class="uk-margin-small-bottom">
      <span
        class="uk-text-success"
        uk-icon="icon: star; ratio: 1.25"
        data-ng-class="{
          'uk-icon-filled': statusController.state.get()>0,
          'uk-animation-scale-down': statusController.state.get()>0
        }">
      </span>
      <span
        class="uk-text-success"
        uk-icon="icon: star; ratio: 1.25"
        data-ng-class="{
          'uk-icon-filled': statusController.state.get()>1,
          'uk-animation-scale-down': statusController.state.get()>1
        }">
      </span>
      <span
        class="uk-text-success"
        uk-icon="icon: star; ratio: 1.25"
        data-ng-class="{
          'uk-icon-filled': statusController.state.get()>2,
          'uk-animation-scale-down': statusController.state.get()>2
        }">
      </span>
      <span
        class="uk-text-success"
        uk-icon="icon: star; ratio: 1.25"
        data-ng-class="{
          'uk-icon-filled': statusController.state.get()>3,
          'uk-animation-scale-down': statusController.state.get()>3
        }">
      </span>
    </div>
    <div data-ng-switch="statusController.state.current" class="uk-badge uk-margin-small uk-padding-small">
      <span data-ng-switch-when="STATE4">
        Finanz-Insider
      </span>
      <span data-ng-switch-when="STATE3">
        Finanz-Experte
      </span>
      <span data-ng-switch-when="STATE2">
        Finanz-Profi
      </span>
      <span data-ng-switch-when="STATE1">
        Finanz-Amateuer
      </span>
      <span data-ng-switch-when="STATE0">
        Finanz-Einsteiger
      </span>
    </div>
    <div class="data-ng-transclude">
    </div>
</div>

<div data-ng-if="!statusController.isCompact">
  <h1>Mein Status</h1>
  <p>Hier siehst du, wie viele Aufgaben du bereits bearbeitet hast. Je öfter du übst, umso besser kennst du dich mit Finanzangelegenheiten aus und umso höher wird dein Status!</p>
  <div class="uk-margin-small-top uk-margin-small-bottom">
    <span
        class="uk-text-success"
        uk-icon="icon: star; ratio: 2.5"
        data-ng-class="{
          'uk-icon-filled': statusController.state.get()>0,
          'uk-animation-scale-down': statusController.state.get()>0
        }">
      </span>
      <span
        class="uk-text-success"
        uk-icon="icon: star; ratio: 2.5"
        data-ng-class="{
          'uk-icon-filled': statusController.state.get()>1,
          'uk-animation-scale-down': statusController.state.get()>1
        }">
      </span>
      <span
        class="uk-text-success"
        uk-icon="icon: star; ratio: 2.5"
        data-ng-class="{
          'uk-icon-filled': statusController.state.get()>2,
          'uk-animation-scale-down': statusController.state.get()>2
        }">
      </span>
      <span
        class="uk-text-success"
        uk-icon="icon: star; ratio: 2.5"
        data-ng-class="{
          'uk-icon-filled': statusController.state.get()>3,
          'uk-animation-scale-down': statusController.state.get()>3
        }">
      </span>
  </div>
  <h3>Dein aktueller Status</h3>
  <div data-ng-switch="statusController.state.current" class="uk-badge uk-padding-small">
    <span data-ng-switch-when="STATE4">
        Finanz-Insider
      </span>
      <span data-ng-switch-when="STATE3">
        Finanz-Experte
      </span>
      <span data-ng-switch-when="STATE2">
        Finanz-Profi
      </span>
      <span data-ng-switch-when="STATE1">
        Finanz-Amateuer
      </span>
      <span data-ng-switch-when="STATE0">
        Finanz-Einsteiger
      </span>
  </div>
</div>
