<div
  class="tm-section uk-background-secondary uk-light"
  data-uk-scrollspy="cls: uk-animation-scale-up; target: .tm-scrollspy; delay: 500; repeat: false">

  <div class="uk-container">
    <div class="uk-margin-large-top uk-margin-large-bottom">

      <div class="tm-scrollspy uk-margin-auto uk-width-1-2@m">
        <h1>Kontakt</h1>
        <p>Du hast eine Frage zum Inhalt oder zur App? Kein Problem - schick uns einfach dein Anliegen und wir helfen dir so schnell wie möglich!</p>
        <form class="uk-form-stacked" onsubmit="javascript: return false;">
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Name">
          </div>
          <div class="uk-margin">
            <input class="uk-input" type="email" placeholder="Email">
          </div>
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Betreff">
          </div>
          <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="Nachricht"></textarea>
          </div>
          <button type="submit" class="uk-button uk-button-primary">
            Absenden
          </button>
        </form>
      </div>

    </div>
  </div>
  <hr class="uk-margin-remove">

</div>
