<form class="uk-form-stacked uk-margin-medium-top" onsubmit="javascript: return false;">
    <div class="uk-margin-auto uk-width-1-2">
      <label class="uk-form-label uk-text-uppercase uk-text-bold" for="form-stacked-text">Dein Code lautet:</label>
      <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-text" type="text" placeholder="__  __  __ __  __  __">
      </div>
      <div class="uk-margin-small uk-text-left uk-text-meta">
        <span class="tm-code">(1)</span>
        <span class="tm-code">(2)</span>
        <span class="tm-code double">(3)</span>
        <span class="tm-code">(4)</span>
        <span class="tm-code">(5)</span>
      </div>
    </div>

    <button type="submit" class="uk-margin-small uk-button uk-button-primary">Los geht's</button>
    <a href="javascript:void(0)" class="uk-margin-small-top uk-display-block uk-text-small" uk-toggle="target: #code-info">
      Ich habe meinen Code vergessen
    </a>
    <div id="code-info" class="uk-margin-small-top uk-text-meta" hidden="hidden" aria-hidden="true">
      <table class="uk-table uk-table-small uk-width-auto uk-margin-auto uk-margin-remove-top">
        <tbody>
            <tr>
                <td class="uk-text-right">
                  <div class="uk-margin-small-bottom">Zweiter Buchstabe deines Vornamens (A-Z):</div>
                  <div class="uk-margin-small-bottom">Dritter Buchstabe deines Nachnamens (A-Z):</div>
                  <div class="uk-margin-small-bottom">Tag deines Geburtstages (01 - 31):</div>
                  <div class="uk-margin-small-bottom">Erster Buchstabe deines Geburtsmonates (A-Z):</div>
                  <div class="uk-margin-small-bottom">Anzahl deiner Geschwister (0 - ...):</div>
                </td>
                <td class="uk-text-left">
                  <div class="uk-margin-small-bottom">(1) = __</div>
                  <div class="uk-margin-small-bottom">(2) = __</div>
                  <div class="uk-margin-small-bottom">(3) = __ __</div>
                  <div class="uk-margin-small-bottom">(4) = __</div>
                  <div class="uk-margin-small-bottom">(5) = __</div>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
</form>
