<div
  class="tm-section"
  data-uk-scrollspy="cls: uk-animation-scale-up; target: .tm-scrollspy; delay: 500; repeat: false">

  <div class="uk-container tm-scrollspy">
    <div class="uk-margin-large-top uk-margin-large-bottom">

      <h1>Selbstkontrolle</h1>
      <div class="uk-text-left">
        <ul data-uk-accordion="">
          <li>
              <h4 class="uk-accordion-title">Übung 1: Sparmünze</h4>
              <div class="uk-accordion-content">
                  <p>@TODO</p>
              </div>
          </li>
          <li>
              <h4 class="uk-accordion-title">Übung 2: Aufschieberitis</h4>
              <div class="uk-accordion-content">
                  <p>@TODO</p>
              </div>
          </li>
          <li>
              <h4 class="uk-accordion-title">Übung 3: Ziele erreichen</h4>
              <div class="uk-accordion-content">
                  <p>@TODO</p>
              </div>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>
