/* ==================================================
 * HOOKS
 * $author Armin Pfurtscheller
 * ================================================== */

// navbar
@mixin hook-navbar-container() {
  background-color: $global-background;
}

@mixin hook-navbar-nav-item() {
  position: relative;

  &:after{
    bottom: 0;
    content: '';
    height: 3px;
    display: none;
    position: absolute;
    background: $global-primary-background;
    left: $navbar-nav-item-padding-horizontal;
    right: $navbar-nav-item-padding-horizontal;
  }
}

@mixin hook-navbar-nav-item-active() {
  &:after{
    display: block;
  }
}

// button
@mixin hook-inverse-button-primary(){
  border-color: $inverse-global-color;

  &:disabled{
    background: transparent !important;
    color: $inverse-global-color !important;
  }
}

// notification
@mixin hook-notification-message-primary() {
  color: $global-inverse-color;
  background-color: $global-primary-background;
}

@mixin hook-notification-message-success() {
  color: $global-inverse-color;
  background-color: $global-success-background;
}

@mixin hook-notification-message-warning() {
  color: $global-inverse-color;
  background-color: $global-warning-background;
}

@mixin hook-notification-message-danger() {
  color: $global-inverse-color;
  background-color: $global-danger-background;
}

@mixin hook-notification-close() {
  color: $global-inverse-color !important;
}

// iconnav
@mixin hook-iconnav-item() {
  &:disabled{
    opacity: 0.5;
    cursor: not-allowed;
    color: inherit !important;
  }
}

// icons
@mixin hook-icon-misc() {
  &.uk-icon-filled{
    [fill] {
      fill: inherit;
    }
  }
}

// tabs
@mixin hook-tab-item-active() {
  border-color: $tab-item-active-border;
  cursor: default;
}
