/* ==================================================
 * HOOKS
 * $author Armin Pfurtscheller
 * ================================================== */

// navbar
@mixin hook-navbar-container() {
  background-color: $global-background;
}

@mixin hook-navbar-nav-item() {
  position: relative;

  &:after{
    bottom: 0;
    content: '';
    height: 3px;
    display: none;
    position: absolute;
    background: $global-primary-background;
    left: $navbar-nav-item-padding-horizontal;
    right: $navbar-nav-item-padding-horizontal;
  }
}

@mixin hook-navbar-nav-item-active() {
  &:after{
    display: block;
  }
}

// notification
@mixin hook-notification-message-primary() {
  color: $global-inverse-color;
  background-color: $global-primary-background;
}

@mixin hook-notification-message-success() {
  color: $global-inverse-color;
  background-color: $global-success-background;
}

@mixin hook-notification-message-warning() {
  color: $global-inverse-color;
  background-color: $global-warning-background;
}

@mixin hook-notification-message-danger() {
  color: $global-inverse-color;
  background-color: $global-danger-background;
}

@mixin hook-notification-close() {
  color: $global-inverse-color !important;
}

// icons
@mixin hook-icon-misc() {
  &.uk-icon-filled{
    [fill] {
      fill: inherit;
    }
  }
}
