<div
  data-task=""
  data-task-icon="'bomb-task.svg'">

  <span>
    Bei diesem Experiment kannst du etwas über deine Risikoeinstellung erfahren. <strong>Bei der Risikoeinstellung geht es darum, wie du dich in unsicheren Situationen verhältst. Es gibt hier keine richtigen oder falschen Entscheidungen</strong>. Manche Menschen gehen gerne mehr Risiko ein, anderen ist größere Sicherheit wichtig.
  </span>

  <div>
    <div class="uk-text-small">
      <p>Bei der folgenden Aufgabe kannst du Boxen sammeln um Taler zu verdienen. Für jede gesammelte Box erhältst du 1 Taler - aber Vorsicht: hinter einer der Boxen ist eine Bombe versteckt, die alles zerstört, was du gesammelt hast! Nachdem du die Aufgabe mit "Auflösen" beendet hast, werden die Boxen umgedreht und du siehst, ob sich hinter den gesammelten Boxen Taler (Smiley) oder die Bombe (Blitz) verborgen haben. Ist die Bombe nicht dabei, erhältst für jede gesammelte Box 1 Taler. Hast du jedoch auch die Box mit der Bombe eingesammelt, erhältst du nichts.</p>
      <p>Du kannst nun beginnen, Boxen zu sammeln - sobald du fertig bist, drücke den Button "Auflösen":</p>
    </div>
    <div class="uk-text-center">
      <div
        data-bomb-task=""
        data-bomb-task-on-resolve="appController.update()">
      </div>
    </div>
  </div>

</div>
