<p>Hier geht es darum, richtig einschätzen zu können, wie sich Zinsen auf dein Sparguthaben auswirken. <strong>Zinsen sind gewissermaßen eine Belohnung dafür, dass du jemand anderem (der Bank) dein Geld für eine bestimmte Zeit überlässt</strong>. Die Zinsen werden in Prozent angegeben und hängen somit von der Höhe des überlassenen Geldbetrages ab. Je mehr Geld du also auf dem Sparbuch hast, umso höher sind auch die Zinsen, die du dafür bekommst.</p>

<ul class="uk-margin-large-top" uk-tab="animation: uk-animation-slide-top-small" uk-switcher>
  <li><a href="#">Beschreibung</a></li>
  <li><a href="#">Aufgabe</a></li>
</ul>
<ul class="uk-switcher uk-text-left@m">
    <li>
      <div uk-grid>
        <div class="uk-width-2-5@m uk-width-1-3@l">
          <img src="assets/img/description-financial-knowledge.svg" width="300">
        </div>
        <div class="uk-width-3-5@m uk-width-2-3@l">
          <p>Angenommen, du hast zu Beginn 1.000 Euro auf deinem Sparbuch und erhältst im ersten Jahr 2% Zinsen auf 1.000 Euro, also <code>0,02 x 1.000 = 20 Euro</code>. Dein Guthaben beträgt in einem Jahr daher <code>1.000 + 20 = 1.020 Euro</code> (Startguthaben + Zinsen aus dem ersten Jahr).</p>
          <p>Wenn du das Geld nun ein weiteres Jahr auf dem Sparbuch lässt, erhältst du im zweiten Jahr 2% Zinsen auf dein neues Guthaben von 1.020 Euro, die Zinsen im zweiten Jahr betragen demnach <code>0,02 x 1.020 = 20,40 Euro</code>. Weshalb sind die Zinsen im zweiten Jahr höher als im ersten Jahr?</p>
          <p>Das liegt daran, dass dein Guthaben im ersten Jahr durch die Zinsen des ersten Jahres um 20 Euro gewachsen ist. Im zweiten Jahr erhältst du nun nicht nur Zinsen auf die ursprünglichen 1.000 Euro, sondern auf das neue Guthaben von 1.020 Euro. Deshalb erhältst du im zweiten Jahr 20,40 Euro an Zinsen, sodass sich nach zwei Jahren <code>1.020 + 20,40 = 1.040,40 Euro</code> (Guthaben nach einem Jahr + Zinsen aus dem zweiten Jahr) auf deinem Sparbuch befinden. Du bekommst also im zweiten Jahr auch Zinsen auf die bereits erhaltenen Zinsen aus dem ersten Jahr, was als <strong>"Zinseszinsen"</strong> bezeichnet wird. Durch die Zinseszinsen wächst dein Guthaben daher immer schneller, je länger du es auf dem Sparbuch lässt. Dieser Effekt wirkt anfangs eher klein, kann über die Jahre aber große Auswirkungen haben.
          </p>

          <a href="#" class="uk-button uk-button-primary" uk-switcher-item="next">Zur Aufgabe</a>
        </div>
      </div>

    </li>
    <li>
      <p class="uk-text-lead">@TODO</p>
    </li>
</ul>
