/* --------------------------------------------------
 *  IMPORTS
 * -------------------------------------------------- */

// 1) uk custom
@import "custom/variables";
@import "custom/mixins";
@import "custom/fonts";

// 2) uk defaults
@import "variables-theme.scss";
@import "mixins-theme.scss";

// 3) uk hooks
@import "custom/hooks";

// 4) uk theme
@import "uikit-theme.scss";

// 5) uk addons
@import "custom/addons";

// 5) app
@import "app/bret";

/* --------------------------------------------------
 *  WRAPPER
 * -------------------------------------------------- */

/* --------------------------------------------------
 *  HEADER
 * -------------------------------------------------- */
#header{}
#logo-efit{
  height: 70px;
}

/* --------------------------------------------------
 *  MAIN
 * -------------------------------------------------- */
#main{}
#content{}

/* --------------------------------------------------
 *  FOOTER
 * -------------------------------------------------- */
#footer{
}

#logo-ak,
#logo-uibk{
  height: 40px;
}

/* --------------------------------------------------
 *  OFF-CANVAS
 * -------------------------------------------------- */
#off-canvas{
  .uk-offcanvas-bar{
    background: #222;
  }
}

/* --------------------------------------------------
 *  MISC
 * -------------------------------------------------- */
.tm-code {

  &.double{
    &:before{
      @include code-number(10px, 0);
    }
    &:after{
      @include code-number(0, 10px);
    }
  }

  &:first-child {
    &:before {
      @include code-number(6px, 0);
    }
  }

  &:last-child{
    &:after{
      display: none;
    }
  }

  &:after{
    @include code-number(3px, 0);
  }
}
